# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# =========================
# Configuración sensible
# =========================
.env

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Evidencia generada
# =========================
evidence/
runs/
data/

# =========================
# Datos y videos
# =========================
data/raw_videos/
data/extracted_frames/

# =========================
# Modelos
# =========================
*.pt
*.pth

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/